body {
  margin: 0;
  font-family: Century Gothic,Futura,sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F6F8;
  color: #212b36;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.workShopNote {
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  padding: 1rem 2rem 3rem 2rem;
}